$color-project: #e6302d !default;

$bgcolor-white-box: white !default;

$bordercolor-top-heading: $gray-600 !default;

$h1-padding-bottom: .2em !default;

/** Article **/
$article-h1: 1.8rem;
$article-h1-line-height: 2.3rem;
$article-h2: 1.65rem;
$article-h2-line-height: 2rem;

$article-h2-border-color: #559bd4;

$article-img-padding-y: 1.5rem;

$bg-color-article-nav-go-to-home: white;
